<!-- Dizemos ao Flask para usar o nosso esqueleto base -->
{% extends "base.html" %}

<!-- Tudo que estiver dentro deste bloco vai parar lá no miolo do base.html -->
{% block conteudo %}
<h2>Criar Nova Conta</h2>

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.nome.label }}<br>
            {{ form.nome() }}
            {% for erro in form.nome.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>

        <div>
            {{ form.email.label }}<br>
            {{ form.email() }}
            {% for erro in form.email.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>

        <div>
            {{ form.senha.label }}<br>
            {{ form.senha() }}
            {% for erro in form.senha.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>
        
        <div>
            {{ form.confirmacao_senha.label }}<br>
            {{ form.confirmacao_senha() }}
            {% for erro in form.confirmacao_senha.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>

        {{ form.submit() }}
    </form>
    
{% endblock %}