{% extends "base.html" %}

{% block conteudo %}
    <h2>Acessar o Sistema</h2>

<form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.email.label }}<br>
            {{ form.email() }}
            {% for erro in form.email.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>

        <div>
            {{ form.senha.label }}<br>
            {{ form.senha() }}
            {% for erro in form.senha.errors %} <span style="color: red;">[{{ erro }}]</span> {% endfor %}
        </div>
        <br>

        {{ form.submit() }}
    </form>

    <p>Ainda não tem uma conta? <a href="{{ url_for('auth.cadastrar_usuario') }}">Cadastre-se aqui</a>.</p>
{% endblock %}